@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

button:focus{
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

/* ! Navbar */

.navbar{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px 0px, rgb(218,220,224) 0px -1px 0px 0px inset;
}
.brand-name{
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
}
.nav-item{
    margin: auto 10px;
    font-weight: bold;
}
.nav-link{
    font-size: 20px;
}
.toogle-btn{
    margin-right: 10px;
}
.logo{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
   
    nav h1{
        color:wheat;
        background-color: darkgreen;
        display:block;
        line-height: 1;
        width:100%;
        line-height: 2;
        position:absolute;
        margin:0px;
        top:0px;
        left: 0px;
        right:0px;
        box-shadow:0px 5px 10px black;
        text-align: center;
    }
    
   
    
    
    body
    {
        font-family: Arimo ;
        display:block;
        
        background-color:#4d004d;
        background-repeat:repeat;
        background-size:cover;
    }
    
    .contact_us
    {
        display: block;
        background-color:aliceblue;
        opacity:0.8;
        width:250px;
        margin:50px 500px;
        padding:50px;
        box-shadow: 5px 5px 8px black;
    }
    hr
    {
        width: 50%;
    }
    
    .col
    {
        
       display:table;
        width:auto;
        align-content:center;
        padding:10px 50px;
        border:0px;
        background-color:aqua;
        margin:200px;
        text-align: center;
    }
    .container,.headings
    {
        display:flex;
        justify-content: space-evenly;
    }
    .cont-1
    {
        background-color: aqua;
        margin-left:15px;
        width:200px;
        align-content: center;
        padding:50px;
        line-height: 2;
        box-shadow: 5px 5px 8px black;
    }
    h3
    {
        width:50%;
        margin-left:20px;
        background-color:wheat;
        color:darkgreen;
        padding:10px ;
        text-align: center;
        opacity:0.8;
        box-shadow: 5px 5px 8px black;
        
    }
    input
    {
        outline:0px;
        border-radius:25px;
        width:180px;
        padding:10px;
    }
   button
    {
        border-radius:25px;
        background-color:darkgreen;
        box-shadow: 5px 5px 8px black;
    }
    .footer{
    background-color: #000000;
    padding: 30px;
    font-family: 'Noto Sans', sans-serif;
    margin-top:3px;
}
.footer-options{
    display: flex;
    justify-content: space-evenly;

}
.footer-options li{
    list-style: none;
    color: #ffffff;
    font-size: 20px;
}
.footer i{
    font-size: 20px;
    background-color: #ffffff;
    margin: 10px;
}
.fa-linkedin-in{
    color:  #0077b5;
    border-radius: 50%;
    padding: 10px;
}
.tweet{
    color: #00acee;
    border-radius: 50%;
    padding: 10px;
}
.fa-facebook-f{
    color: #3b5998;
    border-radius: 50%;
    padding: 10px 12px;
}
.copyright{
    color: #ffffff; 
}
